<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ArticulosCreateDlg" widgetVar="ArticulosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateArticulosTitle}">
            <h:form id="ArticulosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{articulosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateArticulosLabel_codart}" for="codart" />
                        <p:inputText id="codart" value="#{articulosController.selected.codart}" title="#{bundle.CreateArticulosTitle_codart}" required="true" requiredMessage="#{bundle.CreateArticulosRequiredMessage_codart}"/>
                        <p:outputLabel value="#{bundle.CreateArticulosLabel_descrip}" for="descrip" />
                        <p:inputText id="descrip" value="#{articulosController.selected.descrip}" title="#{bundle.CreateArticulosTitle_descrip}" required="true" requiredMessage="#{bundle.CreateArticulosRequiredMessage_descrip}"/>
                        <p:outputLabel value="#{bundle.CreateArticulosLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{articulosController.selected.precio}" title="#{bundle.CreateArticulosTitle_precio}" required="true" requiredMessage="#{bundle.CreateArticulosRequiredMessage_precio}"/>
                        <p:outputLabel value="#{bundle.CreateArticulosLabel_stock}" for="stock" />
                        <p:inputText id="stock" value="#{articulosController.selected.stock}" title="#{bundle.CreateArticulosTitle_stock}" />
                        <p:outputLabel value="#{bundle.CreateArticulosLabel_stockMin}" for="stockMin" />
                        <p:inputText id="stockMin" value="#{articulosController.selected.stockMin}" title="#{bundle.CreateArticulosTitle_stockMin}" />
                        <p:outputLabel value="#{bundle.CreateArticulosLabel_dto}" for="dto" />
                        <p:inputText id="dto" value="#{articulosController.selected.dto}" title="#{bundle.CreateArticulosTitle_dto}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{articulosController.create}" value="#{bundle.Save}" update="display,:ArticulosListForm:datalist,:growl" oncomplete="handleSubmit(args,'ArticulosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ArticulosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
