<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ArticulosEditDlg" widgetVar="ArticulosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditArticulosTitle}">
            <h:form id="ArticulosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{articulosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditArticulosLabel_codart}" for="codart" />
                        <p:inputText id="codart" value="#{articulosController.selected.codart}" title="#{bundle.EditArticulosTitle_codart}" required="true" requiredMessage="#{bundle.EditArticulosRequiredMessage_codart}"/>
                        <p:outputLabel value="#{bundle.EditArticulosLabel_descrip}" for="descrip" />
                        <p:inputText id="descrip" value="#{articulosController.selected.descrip}" title="#{bundle.EditArticulosTitle_descrip}" required="true" requiredMessage="#{bundle.EditArticulosRequiredMessage_descrip}"/>
                        <p:outputLabel value="#{bundle.EditArticulosLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{articulosController.selected.precio}" title="#{bundle.EditArticulosTitle_precio}" required="true" requiredMessage="#{bundle.EditArticulosRequiredMessage_precio}"/>
                        <p:outputLabel value="#{bundle.EditArticulosLabel_stock}" for="stock" />
                        <p:inputText id="stock" value="#{articulosController.selected.stock}" title="#{bundle.EditArticulosTitle_stock}" />
                        <p:outputLabel value="#{bundle.EditArticulosLabel_stockMin}" for="stockMin" />
                        <p:inputText id="stockMin" value="#{articulosController.selected.stockMin}" title="#{bundle.EditArticulosTitle_stockMin}" />
                        <p:outputLabel value="#{bundle.EditArticulosLabel_dto}" for="dto" />
                        <p:inputText id="dto" value="#{articulosController.selected.dto}" title="#{bundle.EditArticulosTitle_dto}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{articulosController.update}" value="#{bundle.Save}" update="display,:ArticulosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ArticulosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ArticulosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
