<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ArticulosViewDlg" widgetVar="ArticulosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewArticulosTitle}">
            <h:form id="ArticulosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{articulosController.selected != null}">
                        <h:outputText value="#{bundle.ViewArticulosLabel_codart}"/>
                        <h:outputText value="#{articulosController.selected.codart}" title="#{bundle.ViewArticulosTitle_codart}"/>
                        <h:outputText value="#{bundle.ViewArticulosLabel_descrip}"/>
                        <h:outputText value="#{articulosController.selected.descrip}" title="#{bundle.ViewArticulosTitle_descrip}"/>
                        <h:outputText value="#{bundle.ViewArticulosLabel_precio}"/>
                        <h:outputText value="#{articulosController.selected.precio}" title="#{bundle.ViewArticulosTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewArticulosLabel_stock}"/>
                        <h:outputText value="#{articulosController.selected.stock}" title="#{bundle.ViewArticulosTitle_stock}"/>
                        <h:outputText value="#{bundle.ViewArticulosLabel_stockMin}"/>
                        <h:outputText value="#{articulosController.selected.stockMin}" title="#{bundle.ViewArticulosTitle_stockMin}"/>
                        <h:outputText value="#{bundle.ViewArticulosLabel_dto}"/>
                        <h:outputText value="#{articulosController.selected.dto}" title="#{bundle.ViewArticulosTitle_dto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ArticulosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
