<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PueblosCreateDlg" widgetVar="PueblosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePueblosTitle}">
            <h:form id="PueblosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pueblosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePueblosLabel_codpue}" for="codpue" />
                        <p:inputText id="codpue" value="#{pueblosController.selected.codpue}" title="#{bundle.CreatePueblosTitle_codpue}" required="true" requiredMessage="#{bundle.CreatePueblosRequiredMessage_codpue}"/>
                        <p:outputLabel value="#{bundle.CreatePueblosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{pueblosController.selected.nombre}" title="#{bundle.CreatePueblosTitle_nombre}" required="true" requiredMessage="#{bundle.CreatePueblosRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreatePueblosLabel_codpro}" for="codpro" />
                        <p:selectOneMenu id="codpro" value="#{pueblosController.selected.codpro}" required="true" requiredMessage="#{bundle.EditPueblosRequiredMessage_codpro}">
                            <f:selectItems value="#{provinciasController.itemsAvailableSelectOne}"
                                           var="codproItem"
                                           itemValue="#{codproItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pueblosController.create}" value="#{bundle.Save}" update="display,:PueblosListForm:datalist,:growl" oncomplete="handleSubmit(args,'PueblosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PueblosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
