<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PueblosEditDlg" widgetVar="PueblosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPueblosTitle}">
            <h:form id="PueblosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pueblosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPueblosLabel_codpue}" for="codpue" />
                        <p:inputText id="codpue" value="#{pueblosController.selected.codpue}" title="#{bundle.EditPueblosTitle_codpue}" required="true" requiredMessage="#{bundle.EditPueblosRequiredMessage_codpue}"/>
                        <p:outputLabel value="#{bundle.EditPueblosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{pueblosController.selected.nombre}" title="#{bundle.EditPueblosTitle_nombre}" required="true" requiredMessage="#{bundle.EditPueblosRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditPueblosLabel_codpro}" for="codpro" />
                        <p:selectOneMenu id="codpro" value="#{pueblosController.selected.codpro}" required="true" requiredMessage="#{bundle.EditPueblosRequiredMessage_codpro}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{provinciasController.itemsAvailableSelectOne}"
                                           var="codproItem"
                                           itemValue="#{codproItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pueblosController.update}" value="#{bundle.Save}" update="display,:PueblosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PueblosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PueblosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
