<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PueblosViewDlg" widgetVar="PueblosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPueblosTitle}">
            <h:form id="PueblosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pueblosController.selected != null}">
                        <h:outputText value="#{bundle.ViewPueblosLabel_codpue}"/>
                        <h:outputText value="#{pueblosController.selected.codpue}" title="#{bundle.ViewPueblosTitle_codpue}"/>
                        <h:outputText value="#{bundle.ViewPueblosLabel_nombre}"/>
                        <h:outputText value="#{pueblosController.selected.nombre}" title="#{bundle.ViewPueblosTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewPueblosLabel_codpro}"/>
                        <h:outputText value="#{pueblosController.selected.codpro}" title="#{bundle.ViewPueblosTitle_codpro}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PueblosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
