<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VendedoresCreateDlg" widgetVar="VendedoresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateVendedoresTitle}">
            <h:form id="VendedoresCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vendedoresController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateVendedoresLabel_codven}" for="codven" />
                        <p:inputText id="codven" value="#{vendedoresController.selected.codven}" title="#{bundle.CreateVendedoresTitle_codven}" required="true" requiredMessage="#{bundle.CreateVendedoresRequiredMessage_codven}"/>
                        <p:outputLabel value="#{bundle.CreateVendedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{vendedoresController.selected.nombre}" title="#{bundle.CreateVendedoresTitle_nombre}" required="true" requiredMessage="#{bundle.CreateVendedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateVendedoresLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{vendedoresController.selected.direccion}" title="#{bundle.CreateVendedoresTitle_direccion}" required="true" requiredMessage="#{bundle.CreateVendedoresRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.CreateVendedoresLabel_codpostal}" for="codpostal" />
                        <p:inputText id="codpostal" value="#{vendedoresController.selected.codpostal}" title="#{bundle.CreateVendedoresTitle_codpostal}" />
                        <p:outputLabel value="#{bundle.CreateVendedoresLabel_codpue}" for="codpue" />
                        <p:selectOneMenu id="codpue" value="#{vendedoresController.selected.codpue}" required="true" requiredMessage="#{bundle.EditVendedoresRequiredMessage_codpue}">
                            <f:selectItems value="#{pueblosController.itemsAvailableSelectOne}"
                                           var="codpueItem"
                                           itemValue="#{codpueItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateVendedoresLabel_codjefe}" for="codjefe" />
                        <p:selectOneMenu id="codjefe" value="#{vendedoresController.selected.codjefe}" >
                            <f:selectItems value="#{vendedoresController.itemsAvailableSelectOne}"
                                           var="codjefeItem"
                                           itemValue="#{codjefeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vendedoresController.create}" value="#{bundle.Save}" update="display,:VendedoresListForm:datalist,:growl" oncomplete="handleSubmit(args,'VendedoresCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VendedoresCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
