<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VendedoresEditDlg" widgetVar="VendedoresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVendedoresTitle}">
            <h:form id="VendedoresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vendedoresController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVendedoresLabel_codven}" for="codven" />
                        <p:inputText id="codven" value="#{vendedoresController.selected.codven}" title="#{bundle.EditVendedoresTitle_codven}" required="true" requiredMessage="#{bundle.EditVendedoresRequiredMessage_codven}"/>
                        <p:outputLabel value="#{bundle.EditVendedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{vendedoresController.selected.nombre}" title="#{bundle.EditVendedoresTitle_nombre}" required="true" requiredMessage="#{bundle.EditVendedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditVendedoresLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{vendedoresController.selected.direccion}" title="#{bundle.EditVendedoresTitle_direccion}" required="true" requiredMessage="#{bundle.EditVendedoresRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.EditVendedoresLabel_codpostal}" for="codpostal" />
                        <p:inputText id="codpostal" value="#{vendedoresController.selected.codpostal}" title="#{bundle.EditVendedoresTitle_codpostal}" />
                        <p:outputLabel value="#{bundle.EditVendedoresLabel_codpue}" for="codpue" />
                        <p:selectOneMenu id="codpue" value="#{vendedoresController.selected.codpue}" required="true" requiredMessage="#{bundle.EditVendedoresRequiredMessage_codpue}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{pueblosController.itemsAvailableSelectOne}"
                                           var="codpueItem"
                                           itemValue="#{codpueItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditVendedoresLabel_codjefe}" for="codjefe" />
                        <p:selectOneMenu id="codjefe" value="#{vendedoresController.selected.codjefe}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{vendedoresController.itemsAvailableSelectOne}"
                                           var="codjefeItem"
                                           itemValue="#{codjefeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vendedoresController.update}" value="#{bundle.Save}" update="display,:VendedoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VendedoresEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VendedoresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
