<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VendedoresViewDlg" widgetVar="VendedoresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVendedoresTitle}">
            <h:form id="VendedoresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vendedoresController.selected != null}">
                        <h:outputText value="#{bundle.ViewVendedoresLabel_codven}"/>
                        <h:outputText value="#{vendedoresController.selected.codven}" title="#{bundle.ViewVendedoresTitle_codven}"/>
                        <h:outputText value="#{bundle.ViewVendedoresLabel_nombre}"/>
                        <h:outputText value="#{vendedoresController.selected.nombre}" title="#{bundle.ViewVendedoresTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewVendedoresLabel_direccion}"/>
                        <h:outputText value="#{vendedoresController.selected.direccion}" title="#{bundle.ViewVendedoresTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewVendedoresLabel_codpostal}"/>
                        <h:outputText value="#{vendedoresController.selected.codpostal}" title="#{bundle.ViewVendedoresTitle_codpostal}"/>
                        <h:outputText value="#{bundle.ViewVendedoresLabel_codpue}"/>
                        <h:outputText value="#{vendedoresController.selected.codpue}" title="#{bundle.ViewVendedoresTitle_codpue}"/>
                        <h:outputText value="#{bundle.ViewVendedoresLabel_codjefe}"/>
                        <h:outputText value="#{vendedoresController.selected.codjefe}" title="#{bundle.ViewVendedoresTitle_codjefe}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VendedoresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
