<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientesCreateDlg" widgetVar="ClientesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientesTitle}">
            <h:form id="ClientesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientesLabel_codcli}" for="codcli" />
                        <p:inputText id="codcli" value="#{clientesController.selected.codcli}" title="#{bundle.CreateClientesTitle_codcli}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_codcli}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{clientesController.selected.nombre}" title="#{bundle.CreateClientesTitle_nombre}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{clientesController.selected.direccion}" title="#{bundle.CreateClientesTitle_direccion}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.CreateClientesLabel_codpostal}" for="codpostal" />
                        <p:inputText id="codpostal" value="#{clientesController.selected.codpostal}" title="#{bundle.CreateClientesTitle_codpostal}" />
                        <p:outputLabel value="#{bundle.CreateClientesLabel_codpue}" for="codpue" />
                        <p:selectOneMenu id="codpue" value="#{clientesController.selected.codpue}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_codpue}">
                            <f:selectItems value="#{pueblosController.itemsAvailableSelectOne}"
                                           var="codpueItem"
                                           itemValue="#{codpueItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientesController.create}" value="#{bundle.Save}" update="display,:ClientesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ClientesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
