<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientesViewDlg" widgetVar="ClientesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClientesTitle}">
            <h:form id="ClientesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientesController.selected != null}">
                        <h:outputText value="#{bundle.ViewClientesLabel_codcli}"/>
                        <h:outputText value="#{clientesController.selected.codcli}" title="#{bundle.ViewClientesTitle_codcli}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_nombre}"/>
                        <h:outputText value="#{clientesController.selected.nombre}" title="#{bundle.ViewClientesTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_direccion}"/>
                        <h:outputText value="#{clientesController.selected.direccion}" title="#{bundle.ViewClientesTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_codpostal}"/>
                        <h:outputText value="#{clientesController.selected.codpostal}" title="#{bundle.ViewClientesTitle_codpostal}"/>
                        <h:outputText value="#{bundle.ViewClientesLabel_codpue}"/>
                        <h:outputText value="#{clientesController.selected.codpue}" title="#{bundle.ViewClientesTitle_codpue}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClientesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
