<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LineasFacEditDlg" widgetVar="LineasFacEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLineasFacTitle}">
            <h:form id="LineasFacEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lineasFacController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLineasFacLabel_lineasFacPK_linea}" for="lineasFacPK_linea" />
                        <p:inputText id="lineasFacPK_linea" value="#{lineasFacController.selected.lineasFacPK.linea}" title="#{bundle.EditLineasFacTitle_lineasFacPK_linea}" required="true" requiredMessage="#{bundle.EditLineasFacRequiredMessage_lineasFacPK_linea}"/>
                        <p:outputLabel value="#{bundle.EditLineasFacLabel_cant}" for="cant" />
                        <p:inputText id="cant" value="#{lineasFacController.selected.cant}" title="#{bundle.EditLineasFacTitle_cant}" required="true" requiredMessage="#{bundle.EditLineasFacRequiredMessage_cant}"/>
                        <p:outputLabel value="#{bundle.EditLineasFacLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{lineasFacController.selected.precio}" title="#{bundle.EditLineasFacTitle_precio}" required="true" requiredMessage="#{bundle.EditLineasFacRequiredMessage_precio}"/>
                        <p:outputLabel value="#{bundle.EditLineasFacLabel_dto}" for="dto" />
                        <p:inputText id="dto" value="#{lineasFacController.selected.dto}" title="#{bundle.EditLineasFacTitle_dto}" />
                        <p:outputLabel value="#{bundle.EditLineasFacLabel_codart}" for="codart" />
                        <p:selectOneMenu id="codart" value="#{lineasFacController.selected.codart}" required="true" requiredMessage="#{bundle.EditLineasFacRequiredMessage_codart}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{articulosController.itemsAvailableSelectOne}"
                                           var="codartItem"
                                           itemValue="#{codartItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditLineasFacLabel_facturas}" for="facturas" />
                        <p:selectOneMenu id="facturas" value="#{lineasFacController.selected.facturas}" required="true" requiredMessage="#{bundle.EditLineasFacRequiredMessage_facturas}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{facturasController.itemsAvailableSelectOne}"
                                           var="facturasItem"
                                           itemValue="#{facturasItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lineasFacController.update}" value="#{bundle.Save}" update="display,:LineasFacListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LineasFacEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LineasFacEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
