<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LineasFacViewDlg" widgetVar="LineasFacViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLineasFacTitle}">
            <h:form id="LineasFacViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lineasFacController.selected != null}">
                        <h:outputText value="#{bundle.ViewLineasFacLabel_lineasFacPK_linea}"/>
                        <h:outputText value="#{lineasFacController.selected.lineasFacPK.linea}" title="#{bundle.ViewLineasFacTitle_lineasFacPK_linea}"/>
                        <h:outputText value="#{bundle.ViewLineasFacLabel_cant}"/>
                        <h:outputText value="#{lineasFacController.selected.cant}" title="#{bundle.ViewLineasFacTitle_cant}"/>
                        <h:outputText value="#{bundle.ViewLineasFacLabel_precio}"/>
                        <h:outputText value="#{lineasFacController.selected.precio}" title="#{bundle.ViewLineasFacTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewLineasFacLabel_dto}"/>
                        <h:outputText value="#{lineasFacController.selected.dto}" title="#{bundle.ViewLineasFacTitle_dto}"/>
                        <h:outputText value="#{bundle.ViewLineasFacLabel_codart}"/>
                        <h:outputText value="#{lineasFacController.selected.codart}" title="#{bundle.ViewLineasFacTitle_codart}"/>
                        <h:outputText value="#{bundle.ViewLineasFacLabel_facturas}"/>
                        <h:outputText value="#{lineasFacController.selected.facturas}" title="#{bundle.ViewLineasFacTitle_facturas}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LineasFacViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
