<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProvinciasCreateDlg" widgetVar="ProvinciasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProvinciasTitle}">
            <h:form id="ProvinciasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{provinciasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProvinciasLabel_codpro}" for="codpro" />
                        <p:inputText id="codpro" value="#{provinciasController.selected.codpro}" title="#{bundle.CreateProvinciasTitle_codpro}" required="true" requiredMessage="#{bundle.CreateProvinciasRequiredMessage_codpro}"/>
                        <p:outputLabel value="#{bundle.CreateProvinciasLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{provinciasController.selected.nombre}" title="#{bundle.CreateProvinciasTitle_nombre}" required="true" requiredMessage="#{bundle.CreateProvinciasRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{provinciasController.create}" value="#{bundle.Save}" update="display,:ProvinciasListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProvinciasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProvinciasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
