<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProvinciasViewDlg" widgetVar="ProvinciasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProvinciasTitle}">
            <h:form id="ProvinciasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{provinciasController.selected != null}">
                        <h:outputText value="#{bundle.ViewProvinciasLabel_codpro}"/>
                        <h:outputText value="#{provinciasController.selected.codpro}" title="#{bundle.ViewProvinciasTitle_codpro}"/>
                        <h:outputText value="#{bundle.ViewProvinciasLabel_nombre}"/>
                        <h:outputText value="#{provinciasController.selected.nombre}" title="#{bundle.ViewProvinciasTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProvinciasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
