<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturasEditDlg" widgetVar="FacturasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFacturasTitle}">
            <h:form id="FacturasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFacturasLabel_codfac}" for="codfac" />
                        <p:inputText id="codfac" value="#{facturasController.selected.codfac}" title="#{bundle.EditFacturasTitle_codfac}" required="true" requiredMessage="#{bundle.EditFacturasRequiredMessage_codfac}"/>
                        <p:outputLabel value="#{bundle.EditFacturasLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{facturasController.selected.fecha}" title="#{bundle.EditFacturasTitle_fecha}" required="true" requiredMessage="#{bundle.EditFacturasRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFacturasLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{facturasController.selected.iva}" title="#{bundle.EditFacturasTitle_iva}" />
                        <p:outputLabel value="#{bundle.EditFacturasLabel_dto}" for="dto" />
                        <p:inputText id="dto" value="#{facturasController.selected.dto}" title="#{bundle.EditFacturasTitle_dto}" />
                        <p:outputLabel value="#{bundle.EditFacturasLabel_codcli}" for="codcli" />
                        <p:selectOneMenu id="codcli" value="#{facturasController.selected.codcli}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clientesController.itemsAvailableSelectOne}"
                                           var="codcliItem"
                                           itemValue="#{codcliItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFacturasLabel_codven}" for="codven" />
                        <p:selectOneMenu id="codven" value="#{facturasController.selected.codven}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{vendedoresController.itemsAvailableSelectOne}"
                                           var="codvenItem"
                                           itemValue="#{codvenItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facturasController.update}" value="#{bundle.Save}" update="display,:FacturasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FacturasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FacturasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
