<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListFacturasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="FacturasListForm">
                <p:panel header="#{bundle.ListFacturasTitle}">
                    <p:dataTable id="datalist" value="#{facturasController.items}" var="item"
                                 selectionMode="single" selection="#{facturasController.selected}"
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 rowKey="#{item.codfac}"
                                 rows="10"
                                 widgetVar="listFacturas"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >
                        <p:column filterBy="#{item.codcli.nombre}" headerText="Cliente" footerText="exact" filterMatchMode="exact">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('listFacturas').filter()" >
                                    <f:selectItem itemLabel="Seleccione el cliente" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{clientesController.items}" />
                                </p:selectOneMenu>
                            </f:facet>
                            <h:outputText value="#{item.codcli.nombre}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasTitle_codfac}"/>
                            </f:facet>
                            <h:outputText value="#{item.codfac}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasTitle_iva}"/>
                            </f:facet>
                            <h:outputText value="#{item.iva}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasTitle_dto}"/>
                            </f:facet>
                            <h:outputText value="#{item.dto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasTitle_codven}"/>
                            </f:facet>
                            <h:outputText value="#{item.codven.nombre}"/>
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </h:form>
            <h:form id="LineasFacListForm">
                <p:panel header="#{bundle.ListLineasFacTitle}">
                    <p:dataTable id="datalist" value="#{lineasFacController.items}" var="item"
                                 selectionMode="single" selection="#{lineasFacController.selected}"
                                 paginator="true"
                                 rowKey="#{item.lineasFacPK}"
                                 paginatorPosition="bottom"
                                 rows="10"
                                 widgetVar="listaLienas"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >
                        <p:column filterBy="#{item.facturas.codfac}" headerText="Factura" footerText="exact" filterMatchMode="exact">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('listaLienas').filter()" >
                                    <f:selectItem itemLabel="Seleccione la factura" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{facturasController.items}" />
                                </p:selectOneMenu>
                            </f:facet>
                            <h:outputText value="#{item.facturas.codfac}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineasFacTitle_codart}"/>
                            </f:facet>
                            <h:outputText value="#{item.codart.descrip}"/>
                        </p:column>
                                               
                    </p:dataTable>
                </p:panel>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
