<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturasViewDlg" widgetVar="FacturasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFacturasTitle}">
            <h:form id="FacturasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturasController.selected != null}">
                        <h:outputText value="#{bundle.ViewFacturasLabel_codfac}"/>
                        <h:outputText value="#{facturasController.selected.codfac}" title="#{bundle.ViewFacturasTitle_codfac}"/>
                        <h:outputText value="#{bundle.ViewFacturasLabel_fecha}"/>
                        <h:outputText value="#{facturasController.selected.fecha}" title="#{bundle.ViewFacturasTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFacturasLabel_iva}"/>
                        <h:outputText value="#{facturasController.selected.iva}" title="#{bundle.ViewFacturasTitle_iva}"/>
                        <h:outputText value="#{bundle.ViewFacturasLabel_dto}"/>
                        <h:outputText value="#{facturasController.selected.dto}" title="#{bundle.ViewFacturasTitle_dto}"/>
                        <h:outputText value="#{bundle.ViewFacturasLabel_codcli}"/>
                        <h:outputText value="#{facturasController.selected.codcli}" title="#{bundle.ViewFacturasTitle_codcli}"/>
                        <h:outputText value="#{bundle.ViewFacturasLabel_codven}"/>
                        <h:outputText value="#{facturasController.selected.codven}" title="#{bundle.ViewFacturasTitle_codven}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FacturasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
