<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/articulos/List" value="Show All Articulos Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/facturas/List" value="Show All Facturas Items"/>
        <br />
        <h:link outcome="/lineasFac/List" value="Show All LineasFac Items"/>
        <br />
        <h:link outcome="/provincias/List" value="Show All Provincias Items"/>
        <br />
        <h:link outcome="/pueblos/List" value="Show All Pueblos Items"/>
        <br />
        <h:link outcome="/vendedores/List" value="Show All Vendedores Items"/>
    </h:body>







</html>

